* {
    box-sizing: border-box;
}

body {
    background: #212121;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    max-width: 500px;
    margin: auto;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    border: 1
}

button {
    background: #ff0066;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}